.footer {
    width: 100%;
    text-align: center;
    background-color: #027A9F;
    overflow: auto;
    padding: 10px;
}

.footer img {
    max-width: 400px;
}

.footer ul li {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
}

.footer a {
    color: #E1EF7E;
}

.footer a:hover {
    text-decoration: underline;
    color: #E1EF7E;
    text-underline-position: under;
} 

.footer p {
    color: #E1EF7E;
}
