.empty-row {
    height: 20px;
}

.confirm-button, 
.confirm-button:hover, 
.confirm-button:active:focus {
    background-color: #6967A3 !important;
    border-color: #6967A3 !important;
    color: #E1EF7E !important;
}

.confirm-button:hover {
    text-decoration: underline;
    color: #E1EF7E;
    text-underline-position: under;
} 

.datepicker a{
    background: #6967A3;
}

.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
    background-color: #6967A3;
    border-color: #6967A3;
}

.gj-picker-bootstrap table tr td.today div {
    color: #6967A3;
}

#clientData {
    display: none;
}
