.header {
    width: 100%;
    background:
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url('../items/beach.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
    overflow: auto;
    text-align: center;
}

.header_navbar {
    padding-bottom: 10px;
}

.header_navbar ul li {
    display: inline-block;
    padding: 15px;
    font-size: 18px;
}

.header_logo {
    padding: 30px 0px 10px;
}

.header li {
    display: inline-block;
    padding: 15px;
    font-size: 18px;
}

.header img {
    max-width: 200px;
    width: 100%;
}

.header a {
    color: #E1EF7E;
}

.header a:hover {
    text-decoration: underline;
    color: #E1EF7E;
    text-underline-position: under;
} 

.navbar-nav {
    margin: 0 auto; 
    text-align: center;
}


@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link  {
        padding-right: 15px;
        padding-left: 15px;
    }
  }